<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SOA.ant.url" value="http://localhost/AntServiceStack.Manager/antsoa"/>
    <add key="CHystrix.AppName" value="testclient"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
