<dal name="DBDal">
  <databaseSets>

    <databaseSet name="antsoa" provider="mySqlProvider">
      <add name="antsoa" databaseType="Master" connectionString="Server=127.0.0.1;Port=28747;Database=antsoa;Uid=root;Pwd=123456;charset=utf8;"/>
    </databaseSet>
    
  </databaseSets>
  
  <databaseProviders>
    <add name="mySqlProvider" type="AntData.ORM.Mysql.MySqlDatabaseProvider,AntData.ORM.Mysql"/>
  </databaseProviders>

</dal>