<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SOA.consul.url" value="http://127.0.0.1:8500"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- AntServiceStack: Handler mapping for IIS 6.0, VS.NET dev web server -->
      <add path="*" type="AntServiceStack.WebHost.Endpoints.AntServiceStackHttpHandlerFactory, AntServiceStack" verb="*" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- 
            The system.webServer section is required for running ASP.NET AJAX under Internet
            Information Services 7.0.  It is not necessary for previous version of IIS.
      -->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="AntServiceStack.Factory" type="AntServiceStack.WebHost.Endpoints.AntServiceStackHttpHandlerFactory, AntServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>

  </system.webServer>
  
</configuration>